{% extends 'TranslationsBundle:Default:translations.html.twig' %}


{# cron periodico para releer si hay cambios por parte de otro usuario o de la api #}

{% block sidebar_interior %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li>
            <h3>{{ "labelH3.bundles"|trans|raw }}</h3>
        </li>
        <li>
            <div class="accordion" id="accordion_sidebar">
                {% for bundle in bundles %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a style="text-decoration: none;text-align: left"
                           class="accordion-toggle btn {{ current==bundle ? 'btn-danger' : '' }}"
                           href="{{ path('bundles', {'projectId':project.id, 'bundle':bundle}) }}">
                            <i class="icon-tasks {{ current==bundle ? 'icon-white' : '' }}"></i>
                            <span> {{ bundle }}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</div><!--/.well -->
{% endblock sidebar_interior %}

