{% extends '::base.html.twig' %}

{% if (permissions.general == 'OWNER' or permissions.general == 'ADMIN') and current and action == "catalogs" %}
    {% set canCreateKeys = true %}
{% else %}
    {% set canCreateKeys = false %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        input.transparent{
            background: transparent;
        }
        #bundle-keys{
            height: 400px;
            overflow: scroll;
        }
        .h300{
            min-height: 300px;
            max-height: 300px;
            height: 300px;
            overflow: scroll;
        }
        #editor{
            background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
            display: none;
            height: 99%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1050;
        }
        #editor #left,
        #editor #right{
            border: 2px solid;
            border-radius: 6px;
            float: left;
            height: 100%;
            margin: 0;
            overflow: scroll;
            padding: 0;
            width: 49%;
        }
        #editor .jqte{
            margin: 0 !important;
        }
        #editor .save-button{
            position: absolute;
            right: 25px;
            top: 5px;
            z-index: 1051;
        }
        #ajax_loader{
            background: url(/bundles/translations/img/220.GIF) no-repeat scroll center center rgba(255, 255, 255, 0.25);
            /*background: url(/bundles/translations/img/465.GIF) no-repeat scroll center center rgba(255, 255, 255, 0.9);*/
            display: none;
            height: 99%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1060;
        }
        a.only.active code{
            background: #DD1144;
            color: antiquewhite;
        }
    </style>
{% endblock stylesheets %}


{% macro node(nodes) %}
    <ul>
        {% for key,item in nodes %}
            <li id="phtml_{{ loop.index }}">
                <a href="#" class="key-tree-node" key="{{ item is iterable ? '' : item }}">{{ key }}</a>
                {{ _self.node(item) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


{# cron periodico para releer si hay cambios por parte de otro usuario o de la api #}

{% block sidebar %}
    
    <div class="span2">

        {% block sidebar_interior %}

        <div class="well sidebar-nav">

            <ul class="nav nav-list">
                <li>
                    <h4 class="span12 btn btn-danger">{{ project.name ~ ' (#' ~ project.id ~ ')' }}</h4>
                </li>

            </ul>
            <br/>
        </div>

        <div class="well sidebar-nav">

            <ul class="nav nav-list">
                <li>
                    <h3>{{ "catalogs"|trans|raw }}</h3>
                </li>
                <li>
                    <div class="accordion" id="accordion_sidebar">
                        {% for catalog in catalogs %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a style="text-decoration: none;text-align: left"
                                   class="accordion-toggle btn {{ current==catalog ? 'btn-danger' : '' }}"
                                   href="{{ path('translations', {'projectId':project.id, 'catalog':catalog}) }}">
                                    <i class="icon-tasks {{ current==catalog ? 'icon-white' : '' }}"></i>
                                    <span> {{ catalog }}</span>
                                </a>
                            </div>
                            {#{% if current == bundle %}
                            <div id="collapse_bundle_{{ bundle }}" class="accordion-body collapse in">
                                <div class="container">
                                    {{ _self.node(keys) }}
                                </div>
                            </div>
                            {% endif %}#}
                        </div>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div><!--/.well -->

        {% endblock sidebar_interior %}


        <div class="well">
            <div class="accordion" id="accordionEvent">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn"
                           data-toggle="collapse" data-parent="#accordion2" href="#collapseEvent">
                            <i class="icon-warning-sign"></i> Event <i class="icon-minus pull-right"></i>
                        </a>
                    </div>
                    <div id="collapseEvent" class="accordion-body collapse in">
                        <div class="accordion-inner" style="background-color: #ffffff;" id="event_list">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--/span-->


    </div><!--/span-->
{% endblock sidebar %}

{% block breadcrum %}
{#    <div class="row-fluid">
        <h2 class="span4">{{ project.project }}</h2>
        {% set breadcrum = [ {'label':'Home','url':'/'}, {'label':'Tables', 'url':'/'} ] %}
        <ul class="breadcrumb pull-right">
            {% for step in breadcrum %}
                <li>
                    <a href="{{ step.url }}">
                        {{ step.label }}
                    </a> <span class="divider">/</span>
                </li>
            {% endfor %}
        </ul>
    </div>#}
    {# permissions|ld #}
{% endblock breadcrum %}

{% block content %}
<div class="span3">

    {% if current %}
    <div class="row-fluid">
        <div class="btn span12">
            {{ current }}
        </div>
        <div class="span12">
            <input type="text" name="search" class="span10" style="display:inline-block;" placeholder="search..."/>
            <a href="#" class="btn btn-primary" id="search"><i class="icon icon-search"></i></a>
        </div>
    </div>

    <div class="row-fluid">

      {% spaceless %}
        <span class="badge">{{ "show_only"|trans|raw }}:</span>
        &nbsp;
        <a href="#" class="only only-disapproved>
            <code><icon icon-thumbs-down"></code>
        </a>
        {% for locale in managed_languages %}
            &nbsp;
            <a href="#" class="only only-locale" locale="{{ locale }}">
                <code>{{ locale }}</code>
            </a>
        {% endfor %}
      {% endspaceless %}

    </div>

    <div class="row-fluid"></div>

    <div class="row-fluid">
        <div id="bundle-keys" class="span12">
            {{ _self.node(keys) }}
        </div>
    </div>

    <div class="row-fluid">
        <br/>
    </div>

    <div class="row-fluid">
        {% if canCreateKeys %}
            <a href="#new_key" role="button" data-toggle="modal" class="btn btn-danger">
                <i class="icon icon-plus-sign"></i>
            </a>
        {% endif %}
    </div>

{% endif %}

</div>

<div class="span9" id="translations-group">

    {# messages detail #}

{#    {% if html_translations is defined %}
        {{ html_translations|raw }}
    {% endif %}#}

</div>

    <div id="ajax_loader">

    </div>

    <div id="editor">
        <div id="left">

        </div>
        <div id="right">

            <div id="wysiwyg">

            </div>

            <div class="btn btn-primary save-button">
                <i class="icon-save"></i>
            </div>

        </div>
    </div>

    {% if canCreateKeys %}

    <div id="new_key" class="modal hide fade" tabindex="-1"
         role="dialog" aria-labelledby="new_key_label" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="new_key_label">
                <i class="icon-list-alt"></i> {{ "translations.new_key_dialog.title"|trans|raw }}
            </h3>
        </div>

        <form class="form-horizontal" id="form_new_key">

            <div class="modal-body">

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="key_name">{{ "translations.new_key_dialog.key"|trans|raw }}</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="key_name">
                            <p class="help-block">{{ "translations.new_key_dialog.help"|trans|raw }}</p>
                        </div>
                    </div>
                    {#<div class="control-group">
                        <label class="control-label" for="optionsCheckbox">Checkbox</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" id="optionsCheckbox" value="option1">
                                Option one is this and that—be sure to include why it's great
                            </label>
                        </div>
                    </div>#}
                    <div class="control-group">
                        <label class="control-label" for="select01">Bundle</label>
                        <div class="controls">
                            <select name="bundle">
                                <option value="">{{ "translations.new_key_dialog.select_one"|trans|raw }}</option>
                                {% for b in bundles %}
                                    <option value="{{ b }}" {% if bundles|length == 1 %}selected="selected"{% endif %}>
                                        {{ b }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </fieldset>

            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ "translations.new_key_dialog.button.close"|trans|raw }}</button>
                <button class="btn btn-primary">{{ "translations.new_key_dialog.button.save"|trans|raw }}</button>
            </div>

        </form>
    </div>

    {% endif %}

{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">

        var currentKey = null;
        var editorContentFrom = null;

        function logEvent(message)
        {
            var fecha = new Date();
            var html = '<div class="row-fluid">' +
                       '<span class="label label-warning pull-right">' + fecha + '</span>' +
                       '</div>' +
                       '<div class="row-fluid">'+
                       '<p>'  + message + '</p>' +
                       '</div>' +
                       '<hr>';
            $('#event_list').append(html);
        }

        var current = null;
        var interval = null;
        var idTemp = null;

        function saveMessage(id)
        {
            if(!currentKey) return false;
            console.log(id);
            idTemp = id;
            //var button  = $(id).find('a.btn');
            //current = button;
            //interval = setInterval(function() { $(current).toggleClass('btn-primary'); }, 80);

            {% if action=='documents' %}

                var message = $(id).html();
                var locale = $(id).attr('locale');

                console.log(message);

                if(!message || !locale) return false;

                $.ajax({
                    type: 'post',
                    url: '{{ path('save_document', {'projectId': project.id}) }}',
                    data: {
                        bundle: '{{ current }}',
                        locale: locale,
                        key: currentKey,
                        message: message
                    },
                    success: function(data){
                        //clearInterval(interval);
                        //$(current).addClass('btn-primary');
                        //console.log(data);
                        if(data.result){
                            $(id).parent().find('.wysiwyg').val(data.message);
                        }else{
                            logEvent(data.reason);
                        }
                    },
                    error: function(){
                        //clearInterval(interval);
                        //$(current).addClass('btn-primary');
                        logEvent('Error');
                    }
                });

            {% else %}

                var message = $(id).parent().find('textarea').val();
                $.ajax({
                    type: 'post',
                    url: '{{ path('save_message', {'projectId': project.id}) }}',
                    data: {
                        catalog: '{{ current }}',
                        locale: $(id).attr('locale'),
                        key: currentKey,
                        message: message
                    },
                    success: function(data){
                        //clearInterval(interval);
                        //$(current).addClass('btn-primary');
                        //console.log(data);
                        if(data.result){
                            $(id).parent().find('textarea').val(data.message);
                        }else{
                            logEvent(data.reason);
                        }
                    },
                    error: function(){
                        //clearInterval(interval);
                        //$(current).addClass('btn-primary');
                        logEvent('Error');
                    }
                });

            {% endif %}
        }

        function saveComment(id)
        {
            var comment = $(id).find('input').val();
            var button  = $(id).find('a.btn');
            current = button;
            interval = setInterval(function() { $(current).toggleClass('btn-primary'); }, 80);
            var data = {
                bundle: '{{ current }}',
                key: $(button).attr('key'),
                comment: comment
            };
            //console.log(data); return;
            $.ajax({
                type: 'post',
                url: '{{ path('save_comment', {'projectId': project.id}) }}',
                data: data,
                success: function(data){
                    clearInterval(interval);
                    $(current).addClass('btn-primary');
                    console.log(data);
                    if(data.result){
                        $("#comment-"+data.id_html).html(data.comment);
                    }else{
                        logEvent(data);
                    }
                },
                error: function(){
                    clearInterval(interval);
                    $(current).addClass('btn-primary');
                    logEvent('Error');
                }
            });
        }

        $(function(){

            $(document).ajaxStart(function(){
                $('#ajax_loader').fadeIn();
            });

            $(document).ajaxStop(function(){
                $('#ajax_loader').fadeOut();
            });

            $('#wysiwyg').jqte();

            $('.accordion-heading').click(function(e){
                $('.accordion-body.in').collapse('toggle');
            });

            $("#translations-group").on("click", ".save-message", function(e){
                e.preventDefault();
                console.log('saving-message');
                saveMessage($(this).parent());
            });

            $('#editor .save-button').click(function(e){
                e.preventDefault();
                var content = $("#editor .jqte_editor").html();
                //console.log(content);
                $(editorContentFrom).html(content);
                //console.log('saving-message');
                saveMessage($(editorContentFrom));
                $('#editor').hide();
            });

            $("#translations-group").on("click", ".edit-message", function(e){
                e.preventDefault();
                console.log('edit-message');
                var leftContent = $('input[name="scroll-mark"]:checked').parent().parent().parent().find('.message').html();
                editorContentFrom = $(this).parent().parent().find('.wysiwyg');
                var rightContent = $(editorContentFrom).html();
                $("#left").html(leftContent);
                $("#editor .jqte").jqteVal(rightContent);
                $("#editor").show();
                $('#right .jqte_editor').on('scroll', function () {
                    //console.log('scrolling');
                    $('#left').scrollTop($(this).scrollTop());
                });
                $('#left').on('scroll', function () {
                    //console.log('scrolling');
                    $('#right .jqte_editor').scrollTop($(this).scrollTop());
                });
            });

            /*$(".key-row textarea").blur(function(e){
                e.preventDefault();
                if ($(this).hasChanged()){
                    console.log('bluring...');
                    var id = $(this).parent().find('a.btn').attr('data-role');
                    saveMessage(id);
                }
            });*/

//            $(".key-row textarea").change(function(e){
//                e.preventDefault();
//                console.log('bluring...');
//                var id = $(this).parent().parent().find('a.btn').attr('data-role');
//                saveMessage(id);
//            });
//
//            $(".comment-row input").change(function(e){
//                e.preventDefault();
//                console.log('bluring...');
//                var id = $(this).parent().parent().find('a.btn').attr('data-role');
//                saveComment(id);
//            });

            $("#bundle-keys").jstree({
                "plugins" : [ "themes", "html_data", "search" ]
            });

            var currentNode = null;
            $('#bundle-keys').on('click','.key-tree-node',function(e){
                e.preventDefault();
                var key = $(this).attr('key'); //.replace(" ","-");
                if(!key) {
                    $("#bundle-keys").jstree("open_node", $(this));
                    return false;
                }
                $('.key-tree-node').removeClass('btn btn-primary btn-danger');
                currentNode = $(this);
                $(currentNode).addClass('btn btn-primary');
                $('#translations-group').slideUp("slow").html('Loading...').fadeIn();

                {% if action=='documents' %}
                    $.ajax({
                        url: '{{ path('documents_messages') }}',
                        type: 'post',
                        data:{
                            projectId: {{ project.id }},
                            bundle: "{{ current }}",
                            key: key
                        },
                        success: function(data){
                            if(data.result){
                                $(currentNode).removeClass('btn-primary').addClass('btn-danger');
                                $('#translations-group').html(data.html);
                                currentKey = data.key;
                                //$('#translations-group .wysiwyg').jqte();
                                $('.scroll-ctrl').on('scroll', function () {
                                    $('.scroll-ctrl').scrollTop($(this).scrollTop());
                                });
                            }else{
                                $('.key-tree-node').removeClass('btn btn-primary');
                                logEvent('error: '+data.reason);
                            }
                        },
                        error: function(data){
                            $('.key-tree-node').removeClass('btn btn-primary');
                            logEvent('error: '+data.reason);
                        }
                    });
                {% else %}
                    $.ajax({
                        url: '{{ path('translations_messages') }}',
                        type: 'post',
                        data:{
                            projectId: {{ project.id }},
                            catalog: "{{ current }}",
                            key: key
                        },
                        success: function(data){
                            if(data.result){
                                $(currentNode).removeClass('btn-primary').addClass('btn-danger');
                                $('#translations-group').html(data.html);
                                currentKey = data.key;
                                $('#translations-group .wysiwyg').jqte();
                            }else{
                                $('.key-tree-node').removeClass('btn btn-primary');
                                logEvent('error: '+data.reason);
                            }
                        },
                        error: function(data){
                            $('.key-tree-node').removeClass('btn btn-primary');
                            logEvent('error: '+data.reason);
                        }
                    });
                {% endif %}
            });

            $('.approve').click(function(e){
                e.preventDefault();
                var id = $(this).attr('key');
                var url = '{{ path('approve_translation', {"messageId": "000"}) }}'.replace('000', id);
                $.ajax({
                    url: url,
                    type: 'post',
                    success: function(data){
                        if(data.result){
                            $('.approve[key="'+data.id+'"]')
                                .removeClass('btn-success').addClass('btn-danger')
                                .html('<i class="icon-thumbs-down"></i> {{ "button.disapprove"|trans|raw }}');
                            $('.approved_indicator[key="'+data.id+'"]')
                                    .find('i')
                                    .removeClass('icon-thumbs-down')
                                    .addClass('icon-thumbs-up');
                        }else{
                            alert(data.reason);
                        }
                        console.log(data);
                    },
                    error: function(data){
                        alert(data);
                    }
                })
            });

//            var to = false;
//            $('#plugins4_q').keyup(function () {
//                if(to) { clearTimeout(to); }
//                to = setTimeout(function () {
//                    var v = $('#plugins4_q').val();
//                    $('#plugins4').jstree(true).search(v);
//                }, 250);
//            });

            $('#search').click(function(e){
                e.preventDefault();
                var search = $('input[name="search"]').val();
                console.log('searching '+search+' ...');
                $("#bundle-keys").jstree("search", search);
            });


            {# filtros only #}
            $('.only-locale').click(function(e){
                e.preventDefault();
                var locale = $(this).attr("locale");
                $(this).toggleClass('active');
            });

            {% if canCreateKeys %}

                {# new key form #}
                $('#form_new_key').submit(function(e){
                    e.preventDefault();
                    console.log('new key form submit');
                    var key = $('#form_new_key input[name="key_name"]').val();
                    if(!key){
                        alert('{{ "translations.new_key_dialog.error.key_blank"|trans|raw }}');
                        return false;
                    }
                    var bundle = $('#form_new_key select[name="bundle"] option:selected').val();
                    if(!bundle){
                        alert('{{ "translations.new_key_dialog.error.bundle_blank"|trans|raw }}');
                        return false;
                    }
                    //$('#new_key').modal('hide');
                    $.ajax({
                        url: '{{ path('translations_new_key', {'projectId': project.id, 'catalog': current}) }}',
                        type: 'post',
                        data: {
                            key: key,
                            bundle: bundle
                        },
                        success: function(data){
                            if(data.result){
                                window.location.reload(true);
                            }else{
                                console.log(data.reason);
                                alert(data.reason);
                            }
                        },
                        error: function(data){
                            console.log(data);
                            alert(data);
                        }
                    });
                    return true;
                });

            {% endif %}

        });
    </script>
{% endblock javascripts %}