{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-bottom: 40px;
            background-image: url("{{ asset('bundles/translations/resource/img/bg.png') }}");
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
{% endblock stylesheets %}


{% block sidebar %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown">
                                        <i class="icon-th-list"></i>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('new_project') }}">{{ "label.project_new"|trans|raw }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('_user_logout') }}"><i class="icon-off"></i> Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <h3>{{ "projects"|trans|raw }}</h3>
                </li>
                <li>
                    <div class="accordion" id="accordion_sidebar">
                        {% for prj in projects %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left"
                                       class="accordion-toggle btn {{ prj==project ? 'btn-danger' : '' }}"
                                       href="{{ path('translations', {'projectId': prj.id}) }}">
                                        <i class="icon-tasks {{ prj==project ? 'icon-white' : '' }}"></i>
                                        <span> {{ prj.name }}</span>
                                    </a>
                                </div>
                                {#{% if current == bundle %}
                                <div id="collapse_bundle_{{ bundle }}" class="accordion-body collapse in">
                                    <div class="container">
                                        {{ _self.node(keys) }}
                                    </div>
                                </div>
                                {% endif %}#}
                            </div>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
{% endblock sidebar %}

{% block breadcrum %}
{% endblock breadcrum %}

{% block content %}
    <div class="container">

        {% if permissions %}
        <div class="row-fluid">
            <div class="span12 well">
                <div class="accordion" id="usersAccordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
                               data-toggle="collapse" data-parent="#usersInfo" href="#usersAccordion">
                                <i class="icon-eye-open"></i> {{ "Users"|trans|raw }} <i class="icon-minus pull-right"></i>
                            </a>
                        </div>
                        <div id="usersInfo" class="accordion-body collapse in">
                            <div class="accordion-inner" style="background-color: #ffffff;">

                                <div class="row-fluid">
                                    <div class="span12">
{{ permissions|ld }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">

            <div class="span4 offset4">

                adios

            </div>

        </div>

        <div class="row-fluid">
            <div class="span12 well">
                <div class="accordion" id="accordionQuickV">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
                               data-toggle="collapse" data-parent="#accordion2" href="#collapseQuickV">
                                <i class="icon-eye-open"></i> {{ "General status"|trans|raw }} <i class="icon-minus pull-right"></i>
                            </a>
                        </div>
                        <div id="collapseQuickV" class="accordion-body collapse in">
                            <div class="accordion-inner" style="background-color: #ffffff;">

                                <div class="row-fluid">
                                    <div class="span12">
                                        <table class="table ">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Project</th>
                                                <th>Statistics</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for prj in projects %}
                                            <tr>
                                                <td><span class="label">{{ prj.id }}</span></td>
                                                <td>{{ prj.name }}</td>
                                                <td>
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>Locale</th>
                                                            <th>
                                                                Qty
                                                            </th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        {% for locale in languages[prj.id] %}
                                                            <tr>
                                                                <td><code>{{ locale.info.locale }}</code> &nbsp;<i class="icon-flag"></i> {{ locale.info.name }}</td>
                                                                <td><span class="label label-success">{{ locale.keys }}</span></td>
                                                                <td>
                                                                    <table>
                                                                        <tr>
                                                                            <td>Approved</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Pending</td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock content %}
