{% extends '::base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
    body {
        padding-top: 160px;
        padding-bottom: 40px;
        background-image: url("{{ asset('bundles/translations/resource/img/bg.png') }}");
    }

    .sidebar-nav {
        padding: 9px 0;
    }
</style>
{% endblock stylesheets %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="span4 offset4">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="#" style="color: #ffffff;">{{ "login.title"|trans|raw }}</a>

                            <div class="nav-collapse">

                            </div>
                            <!-- /.nav-collapse -->
                        </div>
                    </div>
                    <!-- /navbar-inner -->
                </div>

                <form class="well" action="{{ path('user_login_check') }}" novalidate  method="post">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input class="span2" type="text"
                               id="_username" name="_username" value="{{ last_username }}"
                               placeholder="{{ "login.placeholder.email"|trans|raw }}">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input class="span2" type="password"
                               id="_password" name="_password" placeholder="{{ "login.placeholder.password"|trans|raw }}">
                    </div>
                    <br />

                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <button class="btn btn-danger">{{ "login.login_button"|trans|raw }}</button>
                            </div>
                            <div class="span12">&nbsp;</div>
                            <div class="span12">
                                <span>{{ "login.not_a_member_yet"|trans|raw }}
                                    <a href="{{ url('user_register') }}">{{ "login.register"|trans|raw }}</a>
                                </span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>
{% endblock body %}
