{% extends '::base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
    body {
        padding-top: 160px;
        padding-bottom: 40px;
        background-image: url("{{ asset('bundles/translations/resource/img/bg.png') }}");
    }

    .sidebar-nav {
        padding: 9px 0;
    }
</style>
{% endblock stylesheets %}

{% block body %}
    <!-- Form area -->
    <div class="admin-form">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <!-- Widget starts -->
                    <div class="widget wviolet">
                        <!-- Widget head -->
                        <div class="widget-head">

                            <a class="brand" href="{{ path('home') }}" style="color: #ffffff;">
                                <img src="{{ asset('logo-translations-white.png') }}" width="24" alt=""/>&nbsp;
                                {{ "login.title"|trans|raw }}
                            </a>

                            <span class="pull-right">
                                Login <i class="icon-lock"></i>
                            </span>

                        </div>

                        <div class="widget-content">
                            <div class="padd">
                                <!-- Login form -->
                                <form class="form-horizontal" action="{{ path('user_login_check') }}" novalidate  method="post">
                                    <!-- Language -->
                                    <div class="control-group">
                                        <label class="control-label" for="lang_selector"><i class="icon-flag"></i> Language</label>
                                        <div class="controls">
                                            {% include ':Languages:languages-select.html.twig' %}
                                        </div>
                                    </div>
                                    <div class="error">{{ error is not null ? error.message : '' }}</div>
                                    <!-- Email -->
                                    <div class="control-group">
                                        <label class="control-label" for="_username"><i class="icon-envelope"></i> Email</label>
                                        <div class="controls">
                                            <input type="text" id="_username" name="_username" value="{{ last_username }}"
                                                   placeholder="{{ "login.placeholder.email"|trans|raw }}">
                                        </div>
                                    </div>
                                    <!-- Password -->
                                    <div class="control-group">
                                        <label class="control-label" for="_password"><i class="icon-key"></i> Password</label>
                                        <div class="controls">
                                            <input type="password" id="_password" name="_password"
                                                   placeholder="{{ "login.placeholder.password"|trans|raw }}">
                                        </div>
                                    </div>
                                    <!-- Remember me checkbox and sign in button -->
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox"> Remember me
                                            </label>
                                            <br>
                                            <button type="submit" class="btn btn-danger">{{ "login.login_button"|trans|raw }}</button>
                                            <button type="reset" class="btn">Reset</button>
                                            <button class="btn pull-right" id="login_github">{{ "login.login_with_github"|trans|raw }}</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="widget-foot">
                            {{ "login.not_a_member_yet"|trans|raw }}
                            <a href="{{ url('user_register') }}">
                                {{ "login.register"|trans|raw }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('#login_github').click(function (e) {
                e.preventDefault();
                window.location = 'https://github.com/login/oauth/authorize?client_id={{ client_id }}';
            });
        });

        {#window.addEventListener('message', function (event) {#}
            {#var code = event.data;#}
            {#var url = '{{ path('do_github_login') }}?code=' + code;#}
            {#console.log(url);#}
            {#$.get(url, function (result) {#}
                {#if(result == 'OK'){#}
                    {#if(confirm('{{ path('user_index') }}')){#}
                        {#window.location = '{{ path('user_index') }}';#}
                    {#}#}
                {#}else{#}
                    {#alert('error, result is ' + result);#}
                {#}#}
            {#});#}
        {#});#}

    </script>
{% endblock javascripts %}
